@{
    ViewBag.Title = "Hakkımızda";
}
<h2 class="mb-5">@ViewBag.Title</h2>


<h3>Firma Hakkında Bilgi</h3>
<p>
    2018 yılında internet üzerinden en geniş ürün yelpazesini en uygun fiyatlarla sunmak için yola çıkan Kopgel.com, online alışveriş sektörüne artı değer katmak amacı ile hizmet anlayışında sürekli fark yaratmayı hedefleyen bir şirket olmuş.

    Pazarlama fikirlerini internet üzerinden alışverişi hep bir adım daha ileriye taşımak üzerine kurgulayan Kopgel.com, şu anda 2 milyon kayıtlı üyesi ve aylık 10 milyon toplam, 5 milyon tekil ziyaretçisi ile saygın kuruluşlar tarafından verilen "Son 1 yılın en hızlı büyüyen şirketi" ve "En iyi online mağaza" gibi alanlarda çok sayıda ödülün de sahibi.
</p>

<h3>İş Yaklaşımı</h3>
<p>
    Sitede hedeflediği ziyaretçilere ulaşma konusunda internet reklamları ile birlikte geleneksel reklam kanallarını da yüksek oranda kullanan Kopgel.com, tüm mecraları hassas bir şekilde analiz ederek erişim hedefleri, bütçeye ve ürünlere uygunluğuna göre seçimlerini yapıyor.

    Google reklamlarını Türkiye’de ilk başladığı zamandan beri kullanan şirket, dijital ekibi ile birlikte Google AdWords’un zamanla gelişen ve her dönem yenisi eklenen ürünlerini ve yeteneklerini en kısa sürede devreye alıp, maksimum fayda yaratıyor.

    Kıdemli Dijital Pazarlama Uzmanı Çetin Uçar: “Google AdWords, gerek herkes tarafından bilinen ve yoğun aranan, gerekse de duyurusu ya da lansmanı planlanan ürünler, ürün grupları ya da kategoriler için Kopgel.com pazarlama ekibinin planlı ve öncelikli kanalı. Yapılan yatırım sonucu alınan dönüşün en iyi olduğu kanallardan biri olan Google AdWords, en kaliteli trafiği bize en uygun maliyet ile sağlıyor.” diyor.
</p>

<h3>Google AdWords Başarı Hikayesi</h3>
<p>
    Kopgel.com, yürüttüğü Dinamik Arama Reklamları kampanyaları sonucunda standart kampanyalara göre şu sonuçları elde etti:
    <ol>
        <li> Ortalama Tıklama Başına Maliyetler (CPC) %38 oranında azaldı,</li>
        <li> Edinme Başına Maliyetler (CPA) %50 oranında düşerken, Dönüşüm Oranı %216 arttı,</li>
        <li> Özellikle dinamik başlıkların etkisiyle tıklama sayısı %90 arttı</li>
        <li>Tıklanma Oranı %50 arttı.</li>
    </ol>




</p>