@{
    ViewBag.Title = "İletişim";
}
<h2 class="mb-5">@ViewBag.Title.</h2>


<address>
    Bilkent Üniversitesi,Üniversiteler<br />
    06800 Çankaya/Ankara<br />
    <abbr title="Telefon">Telefon:-500-0000000</abbr>
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">Bilgeadam@example.com</a><br />
    <strong>İletişim:</strong> <a href="mailto:cetinnucar@gmail.com">cetinnucar@gmail.com</a>
</address>